@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #00edb4;
  --secondary-color: #00bb8e;
  --medium-color: #00e3ad;
  --text-color: #001d16;
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
}

/* ------------header------------ */
header {
  z-index: 999;
  width: 100%;
  height: 50px;
  position: fixed;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  transition: linear 0.3s;
  background-color: var(--bg-color);
  border-bottom: solid var(--main-color);
}

header.active {
  height: 100vh;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

header nav {
  margin: 0 auto;
  height: 50px;
  max-width: 1250px;
  padding: 0 20px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
}

header nav ul li {
  padding: 5px 0;
  cursor: pointer;
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  color: var(--text-color);
}

header nav ul li span {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--text-color);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header nav ul li:last-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

header nav ul li.hamburger.active span:nth-child(1) {
  width: 15px;
  transform: translate(-6px, 2px) rotate(45deg);
}

header nav ul li.hamburger.active span:nth-child(2) {
  width: 15px;
  transform: translate(-6px, -4px) rotate(-45deg);
}
/* ------------main------------ */

main {
  overflow: hidden;
  z-index: -5;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

/* ------------hero------------ */
section.hero {
  position: relative;
  overflow: hidden;
}

section.hero div.container {
  position: absolute;
  top: 30px;
  left: -5px;
  transform: rotate(30deg);
  display: flex;
  flex-direction: column;
  gap: 17px;
}

section.hero div.container div {
  display: flex;
  gap: 10px;
}

section.hero div.container div span {
  scale: 0;
  width: 0%;
  position: relative;
  left: -100%;
  display: block;
  height: 17px;
  border-radius: 34px;
  transition: all 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.hero div.container div span.bounce {
  left: 0;
  scale: 1;
}

section.hero div.container div:nth-child(1) span:nth-child(1) {
  background-color: #00bb8e;
  width: 256px;
}

section.hero div.container div:nth-child(1) span:nth-child(2) {
  background-color: #00ffc2;
  width: 20px;
}

section.hero div.container div:nth-child(2) span:nth-child(1) {
  background-color: #00e3ad;
  width: 129px;
}

section.hero div.container div:nth-child(2) span:nth-child(2) {
  background-color: #00bb8e;
  width: 136px;
}

section.hero div.container div:nth-child(3) span:nth-child(1) {
  background-color: #00ffc2;
  width: 267px;
}

section.hero div.container div:nth-child(3) span:nth-child(2) {
  background-color: #00e3ad;
  width: 89px;
}

section.hero div.container div:nth-child(4) span:nth-child(1) {
  background-color: #00edb4;
  width: 24px;
}

section.hero div.container div:nth-child(4) span:nth-child(2) {
  background-color: #00bb8e;
  width: 261px;
}

section.hero div.container div:nth-child(5) span:nth-child(1) {
  background-color: #00e3ad;
  width: 118px;
}

section.hero div.container div:nth-child(5) span:nth-child(2) {
  background-color: #00ffc2;
  width: 200px;
}

section.hero div.container div:nth-child(6) span:nth-child(1) {
  background-color: #00bb8e;
  width: 205px;
}

section.hero div.container div:nth-child(6) span:nth-child(2) {
  background-color: #00edb4;
  width: 39px;
}

section.hero img {
  display: block;
  margin: 0 auto;
  margin-top: 104px;
  height: 186px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.34));
}

section.hero h1 {
  margin: 0 auto;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 8vw;
  line-height: 118%;
  text-align: center;
  color: var(--text-color);
}

section.hero h1 span {
  color: var(--main-color);
}

section.hero p {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 118%;
  text-align: center;
  color: var(--text-color);
}

@media (min-width: 1250px) {
  section.hero h1 {
    font-size: 100px;
  }

  section.hero p {
    font-size: 25px;
  }
}

@media (max-width: 680px) {
  section.hero p {
    font-size: 13px;
  }
}

/* ------------Skills------------ */

section.skills {
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 50vw;
  max-height: 625px;
  min-height: 290px;
}

section.skills h2 {
  z-index: 2;
  font-style: normal;
  font-weight: 900;
  font-size: 6vw;
  text-align: center;
  color: var(--text-color);
}

section.skills h2 span {
  color: var(--main-color);
}

section.skills a {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0px 0px 15px rgba(0, 237, 182, 0.4);
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.skills a.css {
  top: 12%;
  left: 10%;
  width: 12vw;
  height: 12vw;
  max-width: 150px;
  max-height: 150px;
}

section.skills a.js {
  top: 12%;
  left: 33%;
  width: 10vw;
  height: 10vw;
  max-width: 125px;
  max-height: 125px;
}

section.skills a.react {
  top: 0%;
  right: 20%;
  width: 20vw;
  height: 20vw;
  max-width: 250px;
  max-height: 250px;
}

section.skills a.ps {
  top: 40%;
  right: 12%;
  width: 9vw;
  height: 9vw;
  max-width: 112.5px;
  max-height: 112.5px;
}

section.skills a.html {
  top: 50%;
  left: 20%;
  width: 9vw;
  height: 9vw;
  max-width: 112.5px;
  max-height: 112.5px;
}

section.skills a.php {
  bottom: 5%;
  left: 8%;
  width: 14.5vw;
  height: 14.5vw;
  max-width: 181.5px;
  max-height: 181.5px;
}

section.skills a.figma {
  bottom: -5%;
  right: 38%;
  width: 22vw;
  height: 22vw;
  max-width: 275px;
  max-height: 275px;
}

section.skills a.ai {
  bottom: 10%;
  right: 16%;
  width: 14.5vw;
  height: 14.5vw;
  max-width: 181.5px;
  max-height: 181.5px;
}

section.skills a img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 60%;
  max-height: 60%;
  filter: invert(49%) sepia(100%) saturate(815%) hue-rotate(125deg)
    brightness(89%) contrast(101%);
}

@media (min-width: 1250px) {
  section.skills h2 {
    font-size: 75px;
  }
}

/* ------------About------------ */

section.about {
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 20px;
  padding-top: 50px;
}

section.about > div {
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.about div:nth-child(odd) {
  position: relative;
  opacity: 0;
  transform: translate(-50%, 80%);
  display: flex;
  margin-bottom: 30px;
}

section.about div:nth-child(even) {
  position: relative;
  opacity: 0;
  transform: translate(50%, 80%);
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

section.about div h2 {
  border-radius: 19px;
  padding: 10px 15px;
  margin-left: 13px;
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  color: var(--bg-color);
  background-color: var(--text-color);
}

section.about div h2 span {
  color: var(--main-color);
}

section.about div:nth-child(odd) img {
  position: absolute;
  height: 32px;
  bottom: 0;
  left: 0;
}

section.about div:nth-child(even) img {
  position: absolute;
  height: 32px;
  bottom: 0;
  right: 0;
}

section.about div p {
  width: 25vw;
  min-width: 277px;
  max-width: 310px;
  border-radius: 19px;
  padding: 10px 15px;
  margin-right: 13px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--text-color);
  background-color: var(--main-color);
}

section.about div:nth-child(4) p {
  min-width: 226px;
  max-width: 370px;
  width: 30vw;
}

section.about div:nth-child(6) p {
  min-width: 286px;
  max-width: 430px;
  width: 35vw;
}

section.about div.slide-right,
section.about div.slide-left {
  transform: translate(0, 0);
  opacity: 1;
}

@media (min-width: 800px) {
  section.about div p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 800px) {
  section.about div h2 {
    font-size: 18px;
  }
}

/* ------------Touch------------ */

section.touch {
  max-width: 100%;
  margin-top: 50px;
  width: 100%;
}

section.touch div.container {
  width: 100%;
  height: 25vw;
  position: relative;
}

section.touch div.container h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
  font-style: normal;
  font-weight: 900;
  font-size: 6vw;
  color: var(--text-color);
  text-align: center;
  transform-origin: left;
}

section.touch div.container h2:nth-child(3) {
  z-index: 4;
  color: transparent;
}

section.touch div.container h2 span {
  color: var(--main-color);
}

section.touch div.container img:nth-child(1) {
  z-index: 3;
  position: absolute;
  right: 50.5%;
  top: 4px;
  width: 50vw;
  max-width: 625px;
  transform: translateX(-100%);
}

section.touch div.container img:nth-child(4) {
  z-index: 0;
  position: absolute;
  left: 51%;
  top: -6px;
  width: 50vw;
  max-width: 625px;
  transform: translateX(100%);
}

section.touch p {
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.8vw;
  text-align: center;
}

section.touch ul {
  margin-top: 30px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

section.touch ul li a img {
  height: 30px;
}

section.touch > img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding-right: 20px;
  height: 255px;
}

@media (min-width: 1250px) {
  section.touch div.container h2 {
    font-size: 75px;
  }
  section.touch div.container {
    height: 312px;
  }
  section.touch p {
    font-size: 18px;
    line-height: 30px;
  }
  section.touch ul {
    gap: 200px;
  }
}

@media (min-width: 900px) {
  section.touch p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 680px) {
  section.touch p {
    font-size: 15px;
    line-height: 20px;
  }
}

/* ------------Footer------------ */

footer {
  width: 100%;
  border-top: solid var(--main-color);
}

footer p {
  padding: 30px 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
}
