@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #00edb4;
  --secondary-color: #00bb8e;
  --medium-color: #00e3ad;
  --text-color: #001d16;
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: grey;
}

/* ------------header------------ */
header {
  z-index: 999;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
}

header nav {
  margin: 0 auto;
  height: 100%;
  width: 390px;
  padding: 0 20px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
}

header nav ul li {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  color: var(--text-color);
}

header nav ul li span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--text-color);
}

header nav ul li:last-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* ------------main------------ */

main {
  width: 390px;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: var(--bg-color);
}

/* ------------hero------------ */
section.hero {
  position: relative;
  overflow: hidden;
}

section.hero div.container {
  position: absolute;
  top: 30px;
  left: -5px;
  transform: rotate(30deg);
  display: flex;
  flex-direction: column;
  gap: 17px;
}

section.hero div.container div {
  display: flex;
  gap: 10px;
}

section.hero div.container div span {
  scale: 0;
  width: 0%;
  position: relative;
  left: -100%;
  display: block;
  height: 17px;
  border-radius: 34px;
  transition: all 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.hero div.container div span.bounce {
  left: 0;
  scale: 1;
}

section.hero div.container div:nth-child(1) span:nth-child(1) {
  background-color: #00bb8e;
  width: 256px;
}

section.hero div.container div:nth-child(1) span:nth-child(2) {
  background-color: #00ffc2;
  width: 20px;
}

section.hero div.container div:nth-child(2) span:nth-child(1) {
  background-color: #00e3ad;
  width: 129px;
}

section.hero div.container div:nth-child(2) span:nth-child(2) {
  background-color: #00bb8e;
  width: 136px;
}

section.hero div.container div:nth-child(3) span:nth-child(1) {
  background-color: #00ffc2;
  width: 267px;
}

section.hero div.container div:nth-child(3) span:nth-child(2) {
  background-color: #00e3ad;
  width: 89px;
}

section.hero div.container div:nth-child(4) span:nth-child(1) {
  background-color: #00edb4;
  width: 24px;
}

section.hero div.container div:nth-child(4) span:nth-child(2) {
  background-color: #00bb8e;
  width: 261px;
}

section.hero div.container div:nth-child(5) span:nth-child(1) {
  background-color: #00e3ad;
  width: 118px;
}

section.hero div.container div:nth-child(5) span:nth-child(2) {
  background-color: #00ffc2;
  width: 200px;
}

section.hero div.container div:nth-child(6) span:nth-child(1) {
  background-color: #00bb8e;
  width: 205px;
}

section.hero div.container div:nth-child(6) span:nth-child(2) {
  background-color: #00edb4;
  width: 39px;
}

section.hero img {
  display: block;
  margin: 0 auto;
  margin-top: 104px;
  height: 186px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.34));
}

section.hero h1 {
  margin: 0 auto;
  width: 267px;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 118%;
  text-align: center;
  color: var(--text-color);
}

section.hero h1 span {
  color: var(--main-color);
}

section.hero p {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 118%;
  text-align: center;
  color: var(--text-color);
}

/* ------------Skills------------ */

section.skills {
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 265px;
}

section.skills h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
}

section.skills h2 span {
  color: var(--main-color);
}

section.skills div {
  position: absolute;
  border-radius: 50%;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 15px rgba(0, 237, 182, 0.4);
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.skills div.css {
  top: 40px;
  left: 37px;
  width: 46px;
  height: 46px;
}

section.skills div.js {
  top: 40px;
  left: 128px;
  width: 39px;
  height: 39px;
}

section.skills div.react {
  top: 0;
  right: 93px;
  width: 79px;
  height: 79px;
}

section.skills div.ps {
  top: 79px;
  right: 45px;
  width: 35px;
  height: 35px;
}

section.skills div.html {
  top: 119px;
  left: 72px;
  width: 35px;
  height: 35px;
}

section.skills div.php {
  bottom: 20px;
  left: 41px;
  width: 56px;
  height: 56px;
}

section.skills div.figma {
  bottom: 0;
  right: 141px;
  width: 85px;
  height: 85px;
}

section.skills div.ai {
  bottom: 52px;
  right: 50px;
  width: 56px;
  height: 56px;
}

section.skills div img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 60%;
  max-height: 60%;
  filter: invert(70%) sepia(97%) saturate(1358%) hue-rotate(110deg) brightness(96%) contrast(101%);
}
