@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #00edb4;
  --secondary-color: #00bb8e;
  --medium-color: #00e3ad;
  --text-color: #001d16;
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: grey;
}

/* ------------header------------ */
header {
  z-index: 999;
  width: 390px;
  height: 40px;
  position: fixed;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  transition: linear .3s;
}

header.active{
  height: 100vh;
  backdrop-filter: blur(20px);
}

header nav {
  margin: 0 auto;
  height: 40px;
  width: 390px;
  padding: 0 20px;
  background-color: var(--bg-color)
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
}

header nav ul li {
  padding: 5px 0;
  cursor: pointer;
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  color: var(--text-color);
}

header nav ul li span {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--text-color);
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header nav ul li:last-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

header nav ul li.hamburger.active span:nth-child(1) {
  width: 15px;
  transform: translate(-6px, 2px) rotate(45deg);
}

header nav ul li.hamburger.active span:nth-child(2) {
  width: 15px;
  transform: translate(-6px, -4px) rotate(-45deg);
}
/* ------------main------------ */

main {
  overflow: hidden;
  z-index: -5;
  max-width: 390px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

/* ------------hero------------ */
section.hero {
  position: relative;
  overflow: hidden;
}

section.hero div.container {
  position: absolute;
  top: 30px;
  left: -5px;
  transform: rotate(30deg);
  display: flex;
  flex-direction: column;
  gap: 17px;
}

section.hero div.container div {
  display: flex;
  gap: 10px;
}

section.hero div.container div span {
  scale: 0;
  width: 0%;
  position: relative;
  left: -100%;
  display: block;
  height: 17px;
  border-radius: 34px;
  transition: all 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.hero div.container div span.bounce {
  left: 0;
  scale: 1;
}

section.hero div.container div:nth-child(1) span:nth-child(1) {
  background-color: #00bb8e;
  width: 256px;
}

section.hero div.container div:nth-child(1) span:nth-child(2) {
  background-color: #00ffc2;
  width: 20px;
}

section.hero div.container div:nth-child(2) span:nth-child(1) {
  background-color: #00e3ad;
  width: 129px;
}

section.hero div.container div:nth-child(2) span:nth-child(2) {
  background-color: #00bb8e;
  width: 136px;
}

section.hero div.container div:nth-child(3) span:nth-child(1) {
  background-color: #00ffc2;
  width: 267px;
}

section.hero div.container div:nth-child(3) span:nth-child(2) {
  background-color: #00e3ad;
  width: 89px;
}

section.hero div.container div:nth-child(4) span:nth-child(1) {
  background-color: #00edb4;
  width: 24px;
}

section.hero div.container div:nth-child(4) span:nth-child(2) {
  background-color: #00bb8e;
  width: 261px;
}

section.hero div.container div:nth-child(5) span:nth-child(1) {
  background-color: #00e3ad;
  width: 118px;
}

section.hero div.container div:nth-child(5) span:nth-child(2) {
  background-color: #00ffc2;
  width: 200px;
}

section.hero div.container div:nth-child(6) span:nth-child(1) {
  background-color: #00bb8e;
  width: 205px;
}

section.hero div.container div:nth-child(6) span:nth-child(2) {
  background-color: #00edb4;
  width: 39px;
}

section.hero img {
  display: block;
  margin: 0 auto;
  margin-top: 104px;
  height: 186px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.34));
}

section.hero h1 {
  margin: 0 auto;
  width: 267px;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 118%;
  text-align: center;
  color: var(--text-color);
}

section.hero h1 span {
  color: var(--main-color);
}

section.hero p {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 118%;
  text-align: center;
  color: var(--text-color);
}

/* ------------Skills------------ */

section.skills {
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 265px;
}

section.skills h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
}

section.skills h2 span {
  color: var(--main-color);
}

section.skills a {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0px 0px 15px rgba(0, 237, 182, 0.4);
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.skills a.css {
  top: 40px;
  left: 37px;
  width: 46px;
  height: 46px;
}

section.skills a.js {
  top: 40px;
  left: 128px;
  width: 39px;
  height: 39px;
}

section.skills a.react {
  top: 0;
  right: 93px;
  width: 79px;
  height: 79px;
}

section.skills a.ps {
  top: 79px;
  right: 45px;
  width: 35px;
  height: 35px;
}

section.skills a.html {
  top: 119px;
  left: 72px;
  width: 35px;
  height: 35px;
}

section.skills a.php {
  bottom: 20px;
  left: 41px;
  width: 56px;
  height: 56px;
}

section.skills a.figma {
  bottom: 0;
  right: 141px;
  width: 85px;
  height: 85px;
}

section.skills a.ai {
  bottom: 52px;
  right: 50px;
  width: 56px;
  height: 56px;
}

section.skills a img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 60%;
  max-height: 60%;
  filter: invert(49%) sepia(100%) saturate(815%) hue-rotate(125deg)
    brightness(89%) contrast(101%);
}

/* ------------About------------ */

section.about {
  overflow: hidden;
  padding: 0 20px;
  padding-top: 70px;
}

section.about > div {
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

section.about div:nth-child(odd) {
  position: relative;
  opacity: 0;
  transform: translate(-50%, 80%);
  display: flex;
  margin-bottom: 30px;
}

section.about div:nth-child(even) {
  position: relative;
  opacity: 0;
  transform: translate(50%, 80%);
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

section.about div h2 {
  border-radius: 19px;
  padding: 10px 15px;
  margin-left: 13px;
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: var(--bg-color);
  background-color: var(--text-color);
}

section.about div h2 span {
  color: var(--main-color);
}

section.about div:nth-child(odd) img {
  position: absolute;
  height: 32px;
  bottom: 0;
  left: 0;
}

section.about div:nth-child(even) img {
  position: absolute;
  height: 32px;
  bottom: 0;
  right: 0;
}

section.about div p {
  width: 277px;
  border-radius: 19px;
  padding: 10px 15px;
  margin-right: 13px;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color);
  background-color: var(--main-color);
}

section.about div:nth-child(4) p {
  width: 226px;
}

section.about div:nth-child(6) p {
  width: 286px;
}

section.about div.slide-right,
section.about div.slide-left {
  transform: translate(0, 0);
  opacity: 1;
}

/* ------------Touch------------ */

section.touch {
  margin-top: 50px;
  width: 100%;
}

section.touch div.container {
  width: 100%;
  height: 100px;
  position: relative;
}

section.touch div.container h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 100px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
  transform-origin: left;
}

section.touch div.container h2:nth-child(3) {
  z-index: 4;
  width: 100px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: transparent;
  text-align: center;
}

section.touch div.container h2 span {
  color: var(--main-color);
}

section.touch div.container img:nth-child(1) {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 4px;
  width: 188px;
  transform: translateX(-100%);
}

section.touch div.container img:nth-child(4) {
  z-index: 0;
  position: absolute;
  right: 0;
  top: -6px;
  width: 205px;
  transform: translateX(100%);
}

section.touch p {
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}

section.touch ul {
  margin-top: 30px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

section.touch ul li a img{
  height: 30px;
}

section.touch > img{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding-right: 20px;
  height: 255px;
}

footer {
  width: 100%;
  background-color: var(--bg-color);
  border-top: solid 2px var(--main-color);
}

footer p{
  padding: 30px 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
}



